{% extends 'base.html' %}
{% block content %}

    <title>{% block title %}Inscripciones | Hacuna {% endblock %}</title>
<section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/contact.png" alt="">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/intro.png" alt="">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/avala.png" alt="">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="static/avala2.png" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">Registrar usuario con privilegios capos</span>
                  <span class="section-heading-lower">solo admin</span>
                </h2>

                <!-- Formulario de contacto -->
                <form  method="POST">

                    {{ form.hidden_tag() }}

                    <div class="form-group">

                        <label>{{ form.email.label(class='form-group') }}</label>
                        <div class="input-group">
                            {{ form.email(class='input-group') }}
                             {% if form.email.errors %}
                            <script>alert('El e-mail es incorrecto')</script>


                            {% endif %}
                        </div>

                    </div>
                     <div class="form-group">
                        <label>{{ form.password.label(class='form-group') }}</label>
                        <div class="input-group">
                            {{ form.password(class='input-group') }}
                                  {% if form.password.errors %}
                            <script>alert('El password es incorrecto es incorrecto')</script>
                            {% endif %}
                        </div>
                    </div>
                    <div class="text-center">
                        {{ form.submit(class="btn btn-primary btn-block py-2") }}

                    </div>

                </form>


                <!-- Fin formulario de contacto -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}